<div class="window-container"
  [ngClass]="{'maximize': maximize}"
  [@inOutAnimation]="{value: ':enter', params: {delay: 0.1}}"
  >
  <div class="window-topbar-container">
    <div class="window-controls">
      <a class="control-button close-button" (click)="closeWindow()"></a>
      <a class="control-button maximize-button" (click)="maximizeWindow()" *ngIf="!maximize"></a>
      <a class="control-button minimize-button" (click)="minimizeWindow()" *ngIf="maximize"></a>
    </div>
    <div class="window-name">
      {{this.name | translate}} - {{this.program | translate}}
    </div>
  </div>
  <div class="window-content-container">
    <ng-content></ng-content>
  </div>
</div>
