@import '../../../../styles/colors'
@import '../../../../styles/queries'

.preview-container
  width: 100%
  min-height: 100%
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: var(--base-background-inner)

  .preview-wrapper
    width: 100%
    min-height: 100%
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: stretch
    padding: 20px
    row-gap: 20px
    column-gap: 20px

    @media screen and (min-width: $medium)
      padding: 40px
      row-gap: 40px
      column-gap: 40px

    @media screen and (min-width: $large)
      flex-direction: row

    @media screen and (min-width: $extra-large)
      max-width: 1200px

    .project-detail-image-container, .project-detail-data-container
      background-color: var(--base-background-middle)
      padding: 10px
      border-radius: 5px

      @media screen and (min-width: $medium)
        padding: 20px

    .project-detail-image-container
      flex: 1
      position: relative
      display: flex
      flex-direction: column
      align-items: center
      justify-content: space-between
      row-gap: 20px
      width: 100%
      align-self: stretch

      img
        border-radius: 5px
        width: 100%
        max-width: 400px
        object-fit: cover
        height: 100%
        object-position: center

        @media screen and (min-width: $medium)
          max-width: 600px

        @media screen and (min-width: $large)
          max-width: 415px

        &.image-hide
          display: none

          @media screen and (min-width: $large)
            display: flex

    .project-detail-data-container
      flex: 1
      color: var(--base-font)
      font-size: 12px
      min-height: 100%
      display: flex
      flex-direction: column
      justify-content: space-between
      // font-family: 'Courier Prime', monospace

      @media screen and (min-width: $medium)
        font-size: 14px

      @media screen and (min-width: $large)
        flex: 1

      .section-container
        .tag-label
          color: var(--base-font-tag)
          font-family: 'Courier Prime', monospace
          margin-bottom: 0.5rem
          font-weight: 700

        .text
          margin-bottom: 0.5rem
          font-weight: 300
          line-height: 1.6

        .project-detail-name, .project-detail-details, .project-detail-description-container, .project-detail-framework, .project-detail-technologies-container,  .project-detail-topics-container
          padding-left: 0.8rem

          .text
            padding-left: 0.7rem

        .project-detail-description-container
          .text
            display: flex
            flex-direction: column
            row-gap: 0.5rem

            .project-detail-description.padding-left
              padding-left: 0.9rem
              padding-right: 0.5rem

        .project-detail-technologies-container, .project-detail-topics-container
          .text
            display: flex
            flex-direction: row
            column-gap: 0.5rem
            row-gap: 0.5rem
            flex-wrap: wrap

      .project-detail-url
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        padding: 10px
        border-radius: 5px
        cursor: pointer
        transition: all 0.2s ease
        border: 1px solid var(--base-font)
        width: fit-content
        text-transform: uppercase
        font-weight: 500
        font-size: 12px

        @media screen and (min-width: $medium)
          font-size: 14px

        &:hover
          background-color: rgba(var(--base-hover) , 0.1)
          -webkit-backdrop-filter: blur(10px)
          backdrop-filter: blur(10px)
