<div class="preview-container">
  <div class="preview-wrapper" *ngIf="project">
    <div class="project-detail-image-container" *ngIf="project">
      <img [src]="imgSource" [alt]="project.name">
      <!-- <img [src]="imgSource" class="image-hide" [alt]="project.name"> -->
    </div>
    <div class="project-detail-data-container">
      <div class="section-container">
        <div class="tag-label">
          &lt;project&gt;
        </div>
        <div class="project-detail-name">
          <div class="tag-label">
            &lt;name&gt;
          </div>
          <div class="text">
            {{project.name | translate}}
          </div>
          <div class="tag-label">
            &lt;/name&gt;
          </div>
        </div>

        <div class="project-detail-details">
          <div class="tag-label">
            &lt;detail&gt;
          </div>
          <div class="text">
            {{project.year}} - {{project.client | translate}}
          </div>
          <div class="tag-label">
            &lt;/detail&gt;
          </div>
        </div>

        <div class="project-detail-description-container">
          <div class="tag-label">
            &lt;description&gt;
          </div>
         <div class="text">
          <ng-container *ngFor="let description of project.description | translate">
            <div class="project-detail-description" [ngClass]="{'padding-left': isADetail(description)}">{{description}}</div>
          </ng-container>
         </div>
          <div class="tag-label">
            &lt;/description&gt;
          </div>
        </div>

        <div class="project-detail-framework">
          <div class="tag-label">
            &lt;framework&gt;
          </div>
          <div class="text">
            {{project.framework}}
          </div>
          <div class="tag-label">
            &lt;/framework&gt;
          </div>
        </div>

        <div class="project-detail-technologies-container">
          <div class="tag-label">
            &lt;technologies&gt;
          </div>
          <div class="text">
            <ng-container *ngFor="let technology of project.technologies; let isLast=last">
              <div class="project-detail-technology">{{technology}} {{isLast ? '' : '&nbsp;-&nbsp;'}}</div>
            </ng-container>
          </div>
          <div class="tag-label">
            &lt;/technologies&gt;
          </div>
        </div>

        <div class="project-detail-topics-container">
          <div class="tag-label">
            &lt;topics&gt;
          </div>
          <div class="text">
            <ng-container *ngFor="let topic of project.topics | translate; let isLast=last">
              <div class="project-detail-technology">{{topic}} {{isLast ? '' : '&nbsp;-&nbsp;'}}</div>
            </ng-container>
          </div>
          <div class="tag-label">
            &lt;/topics&gt;
          </div>
        </div>
        <div class="tag-label">
          &lt;project&gt;
        </div>
      </div>

      <div class="project-detail-url" (click)="routeToLink(project.url)">Go to Project</div>
    </div>
  </div>
</div>
