.menu-container
  .menu-inner-container
    display: flex
    align-items: center
    justify-content: center
    column-gap: 10px
    transition: all 0.2s ease

    .menu-item
      padding: 10px 20px
      border-radius: 10px
      cursor: pointer
      font-family: 'Montserrat', sans-serif
      font-weight: 400
      transition: all 0.2s ease

      &:hover
        background-color: rgba(var(--base-hover) , 0.1)
