<div class="background-container">
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.8}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.4}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.8}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.6}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.4}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.4}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.8}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.6}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 2}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.6}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 2}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.4}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.4}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.2}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.2}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.8}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 2}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.4}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 1.4}}"></span>
  <span [@inOutAnimation]="{value: ':enter', params: {delay: 2}}"></span>
</div>
