@import "../../../styles/colors"

.topbar-container
  width: 100%
  background: rgba(255, 255 ,255 , 0.3)
  -webkit-backdrop-filter: blur(10px)
  backdrop-filter: blur(10px)
  color: $color-white
  display: flex
  align-items: center
  justify-content: center

  .topbar-inner-container
    width: 95%
    padding: 10px
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    .settings-container
      display: flex
      flex-direction: row
      align-items: center
      justify-content: center
      column-gap: 20px
