<div class="topbar-container">
  <div class="topbar-inner-container">
    <div class="logo-menu-container">
      <div class="logo-container logo-6">
       H <div class="span-letter">G</div>
      </div>
      <div class="menu-container" *ngIf="menu && menuContent">
        <app-menu [content]="menuContent"></app-menu>
      </div>
    </div>
    <div class="settings-container">
      <div class="setting-item language-item">
        <app-select id="language-select"
        (change)="updateLanguage($event)"
        >
          <ng-container *ngFor="let item of languages" class="select-option">
            <app-select-option value="{{item.code}}">
              <div class="img-container">
                <img src="../../../assets/flags/{{item.code}}.svg" alt="">
              </div>
            </app-select-option>
          </ng-container>
        </app-select>
      </div>
      <div class="setting-item theme-item">
        <!-- <app-select-simplified [options]="options" [label]="'name'" [key]="'value'" (emitValue)="updateSelection($event)"></app-select-simplified> -->
        <app-select id="theme-select"
        (change)="updateSelection($event)"
        >
          <ng-container *ngFor="let item of options">
            <app-select-option value="{{item.value}}" class="select-option">
              <div class="img-container">
                <img src="../../../assets/themes/{{item.value}}.svg" alt="">
              </div>
            </app-select-option>
          </ng-container>
        </app-select>
      </div>
      <div class="setting-item clock-item">{{ currentTime | localizedDate: 'EEEE MMM d h:mm a' }}</div>
    </div>
  </div>
</div>
