<div class="select-wrapper">
  <div
    #select
    role="listbox"
    tabindex="0"
    class="select-container"
    [ngClass]="{'blurred': blurred}"
    (click)="showDropdown()"
    (keydown)="onKeyDown($event)"
    (blur)="onTouched()"
    [attr.id]="inputId"
    [innerHTML]="displayText"
  ></div>
  <ng-template cdk-portal #overlayTemplate="cdkPortal" class="dropdown">
    <div class="custom-dropdown-menu" [ngClass]="{'blurred': blurred}">
      <div class="dropdown-options-container" (keydown)="onKeyDown($event)">
        <ng-content></ng-content>
      </div>
    </div>
  </ng-template>
</div>
