<div class="main-container" [ngClass]="currentTheme">
  <app-loading (finishEmit)="loadingDesktop($event)" *ngIf="!loading" [@inOutAnimation]="{value: ':enter', params: {delay: 0}}"></app-loading>
  <div class="wallpaper-container" *ngIf="loading" [@inOutAnimation]="{value: ':enter', params: {delay: 0.2}}">
    <app-background class="background"></app-background>
    <div class="desktop-wrapper">
      <app-topbar class="topbar"
        (emitValue)="updateTheme($event)"
        (emitLanguageValue)="updateLanguage($event)"
        [@inOutAnimation]="{value: ':enter', params: {delay: 0.2}}"
        [menu]="activeMenu()"
        [menuContent]=" currentItemMenu"
        >
      </app-topbar>
      <div class="desktop">
        <div class="desktop-items-container" *ngIf="desktopItems" [@inOutAnimation]="{value: ':enter', params: {delay: 0.6}}">
          <ng-container *ngFor="let item of desktopItems; let i = index">
            <app-desktop-item
              [name]="item.name"
              [type]="item.type"
              [routerLink]="[item.route]"
              (click)="updateSelection(i)"
              [currentTheme]="currentTheme"
            >
            </app-desktop-item>
          </ng-container>
        </div>
        <div class="router-container" *ngIf="this.router.url !== '/main'" [@inOutAnimation]="{value: ':enter', params: {delay: 0.2}}">
          <router-outlet [@inOutAnimation]="{value: ':enter', params: {delay: 0.4}}"></router-outlet>
        </div>
      </div>
      <app-dock class="dock" [@inOutAnimation]="{value: ':enter', params: {delay: 0.8}}">
      </app-dock>
    </div>
  </div>
</div>
