/* You can add global styles to this file, and also import other style files */
*
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

html
  height: 100%
  font-family: sans-serif
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%

  body
    margin: 0
    font-family: 'Courier Prime', monospace
    font-family: 'Montserrat', sans-serif

    //     font-family: 'Courier Prime', monospace;

    // font-family: 'Indie Flower', cursive;

    // font-family: 'Montserrat', sans-serif;

    // font-family: 'Roboto', sans-serif;
